.books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.book{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: azure;
}
.modal{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    background-color: beige;
    padding: 20px;
    text-align: center;
    transform: translate(-50%,-50%) scale(1);
}
.add-book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.input{
    width: 100%;
    padding: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
